
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">LEGAJO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">APELLIDO</th>
      <th scope="col">MATEMÁTICA</th>
      <th scope="col">LITERATURA</th>
      <th scope="col">INGLÉS</th>
      <th scope="col">CS. SOCIALES</th>
      <th scope="col">CS. NATURALES</th>
    </tr>
  </thead>
  
  <tbody>
    
    <tr *ngFor="let estudiante of arrayEstudiantes">
      <th scope="row">{{ estudiante.legajo }}</th>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellido }}</td>
      <td>{{ estudiante.notaMat }}</td>
      <td>{{ estudiante.notaLit }}</td>
      <td>{{ estudiante.notaIng }}</td>
      <td>{{ estudiante.notaSoc }}</td>
      <td>{{ estudiante.notaNat }}</td>
    </tr>

  </tbody>
</table>

